bin/Debug/net8.0/QuanLySach.dll
bin/Debug/net8.0/QuanLySach.dll
obj/Debug/net8.0/QuanLySach.AssemblyInfo.cs
obj/Debug/net8.0/QuanLySach.AssemblyInfoInputs.cache
obj/Debug/net8.0/QuanLySach.dll
obj/Debug/net8.0/QuanLySach.pdb
obj/Debug/net8.0/QuanLySach.sourcelink.json
obj/Debug/net8.0/ref/QuanLySach.dll
obj/Debug/net8.0/refint/QuanLySach.dll
